<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Template : Mini Sitio</title>
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no, maximum-scale=1, minimum-scale=1, height=device-height">
	<meta http-equiv="cleartype" content="on">
	<link href="https://fonts.googleapis.com/css?family=Alegreya+Sans:400,700|Merriweather:300,700" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="style-template.css">
    <script src="https://code.jquery.com/jquery-1.12.0.min.js"></script>
    <script type="text/javascript" src="js/functions.js"></script>
</head>
<body>
	<!--[if lt IE 9]>
		<p class="chromeframe">Estás usando una versión <strong>vieja</strong> de tu explorador. Por favor <a href="http://browsehappy.com/" target="_blank"> actualiza tu explorador</a> para tener una experiencia completa.</p>
	<![endif]-->
	<article>

		<header class="visual">
			<a href="http://noticieros.televisa.com/foro-tv/"><img src="images/forotv.png"></a>
		</header>
		<img src="images/1.jpeg">
		<span>Neque porro quisquam est qui dolorem ipsum quia dolor sit amet (Consectetur / Adipisci velit)</span>
		<section>
			<h1><u>Lorem ipsum dolor</u>: Sit amet consectetur adipiscing elit</h1>
			<p class="subtitle">Donec eget luctus velit. Morbi interdum tortor nec felis cursus, inesen malesuada ipsum aliquet. Donec pulvinar commodored tortor consectetur.</p>
			<p>Nulla pretium dignissim finibus. Suspendisse non erat at metus malesuada facilisis eu quis diam. Morbi eget posuere quam, in scelerisque lectus. Integer placerat leo nisi, feugiat viverra nisl tristique sit amet. <a href="">Morbi libero magna</a>, vestibulum sed arcu ut, posuere semper est. In dapibus, nulla sed finibus interdum, arcu metus blandit erat, et maximus sapien velit ac massa. Proin egestas, ex a tincidunt rhoncus, augue augue pretium augue, in semper orci tellus nec eros. <strong>Class aptent taciti sociosqu ad litora torquent per conubia nostra</strong>, per inceptos himenaeos. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>
			<iframe width="560" height="315" src="https://www.youtube.com/embed/QXgxApEp7xU" frameborder="0" allowfullscreen></iframe>
			<p>In hac habitasse platea dictumst. Integer accumsan viverra lectus eget posuere. Donec mauris felis, blandit quis sodales a, congue sed turpis. <strong>Donec aliquet, <a href="">nisl eu ullamcorper</a> egestas</strong>, nisl risus hendrerit arcu, sit amet placerat ligula lectus eu ex. Vivamus nec volutpat diam. Maecenas a malesuada ex. Fusce magna nisi, fermentum sit amet leo vitae, dapibus rhoncus dolor.</p>
		</section>	

		<img src="images/2.jpeg">
		<span>Neque porro quisquam est qui dolorem ipsum quia dolor sit amet (Consectetur / Adipisci velit)</span>

		<section>	
			<h2>Fusce ultrices rhoncus massa faucibus commodo</h2><br/>
			<p>Donec pellentesque metus ut ligula volutpat, nec eleifend urna ullamcorper. <strong>Mauris vel metus sit</strong> amet sem scelerisque placerat ac id enim. Nullam et ipsum nisl. Aenean eget ante vestibulum, interdum enim fringilla, porttitor sem. Nunc vitae malesuada libero. <i>Suspendisse potenti.</i> Mauris sodales, tortor eget sollicitudin condimentum, <a href="">diam est dapibus justo</a>, a iaculis nisl purus vel urna. Nam dapibus turpis feugiat magna mattis, at sagittis mi maximus.</p>
			<img src="images/3.jpeg">
			<span>Neque porro quisquam est qui dolorem ipsum quia dolor sit amet (Consectetur / Adipisci velit)</span>
			<p>Vestibulum in pulvinar lectus. Donec fringilla nibh at est gravida ultricies. <i>Proin bibendum metus vitae sapien dignissim tincidunt.</i> Mauris eleifend facilisis ligula, vel sagittis ligula feugiat ut. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. <strong>Fusce hendrerit erat non purus auctor viverra.</strong></p>
			<h3>Laoreet eu iaculis quis, euismod semper velit</h3>
			<ul>
				<li>Nullam sit amet augue vitae ex sagittis pulvinar. <a href="">Mauris tincidunt maximus</a> turpis, sed laoreet ipsum pretium id. Phasellus at convallis lacus. Duis ac nulla at purus ultrices dignissim sit amet ac erat. Sed nec blandit risus, at venenatis quam.</li>
				<li>Aliquam sagittis, lectus ac blandit mattis, ligula purus porta dui, ac sagittis tellus nisi vitae nisl. In et est fermentum, semper nulla vitae, congue ante. Morbi ut rhoncus leo. Vivamus quis ultricies ligula. Quisque neque elit.</li>
			</ul>
			<h3>Laoreet eu iaculis quis, euismod semper velit</h3>
			<ol>
				<li>Aliquam sagittis, lectus ac blandit mattis, <strong>ligula purus porta dui, ac sagittis tellus</strong> nisi vitae nisl. In et est fermentum, semper nulla vitae, congue ante.</li>
				<li>Nullam eget pretium enim. Phasellus maximus eu leo vel tincidunt. Nunc vitae arcu tempor, convallis leo vel, efficitur quam.</li>
			</ol>
		</section>

		<img src="images/4.jpeg">
		<span>Neque porro quisquam est qui dolorem ipsum quia dolor sit amet (Consectetur / Adipisci velit)</span>

		<section>	
			<h2>Fusce ultrices rhoncus massa faucibus commodo</h2><br/>
			<p>Donec pellentesque metus ut ligula volutpat, nec eleifend urna ullamcorper. <strong>Mauris vel metus sit</strong> amet sem scelerisque placerat ac id enim. Nullam et ipsum nisl.</p>
			<blockquote>Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit...</blockquote>
			<p>Aenean eget ante vestibulum, interdum enim fringilla, porttitor sem. Nunc vitae malesuada libero. <i>Suspendisse potenti.</i> Mauris sodales, tortor eget sollicitudin condimentum, <a href="">diam est dapibus justo</a>, a iaculis nisl purus vel urna. Nam dapibus turpis feugiat magna mattis, at sagittis mi maximus.</p>
			<p class="quote">Maecenas nisl turpis, facilisis quis congue eu, tincidunt nec turpis. Fusce magna nisi, tempor nec tristique ac, vulputate ac sem. Vestibulum eget nisi at velit laoreet malesuada. Nulla enim nunc, pulvinar et sapien id, sollicitudin tempor metus.</p>
			<div class="iframe" style="height:500px">
				<iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d7525.333878266032!2d-99.1499316!3d19.4267914!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1ses!2smx!4v1476133939525" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
				<div class="over_iframe"></div>		
			</div>
			<table>
				<tr  class="table_title">
					<th colspan="3">Laoreet eu iaculis quis, euismod semper velit</th>
				</tr>
				<tr>
					<th>Aenean rutrum</th>
					<th>Libero et ullamcorper</th>
					<th>Cras bibendum</th>
				</tr>
				<tr>
					<td>12</td>
					<td>23</td>
					<td>34</td>
				</tr>
				<tr>
					<td>Pellentesque</td>
					<td>Pellentesque</td>
					<td>Pellentesque</td>
				</tr>
				<tr>
					<td>Curabitur aliquam</td>
					<td>Curabitur aliquam</td>
					<td>Curabitur aliquam</td>
				</tr>
			</table>
			<ul class="fuentes">
				<li><a href="">Vivamus rutrum quam quis nunc tristique pellentesque. Proin ultrices odio luctus fermentum mattis, vel mattis velit.</a></li>
				<li>Nullam sit amet malesuada enim. Aenean neque sapien <a href="">http://loremipsum.sit</a></li>
				<li><a href="">Convallis vitae urna quis, maximus iaculis nisi. Praesent ultricies accumsan tellus.</a></li>
			</ul>
			<p class="pie">Nullam laoreet, purus at accumsan aliquam, odio ligula condimentum lacus, auctor euismod metus lectus nec <a href="">TORTOR</a></p>
		</section>
		<footer>
			<div class="clearfix">
				<a href="http://noticieros.televisa.com/foro-tv/"><img class="clearfix" src="images/forotv.png"></a>
				<ul class="clearfix">
					<li><a href="https://www.facebook.com/FOROtv/" target="new"><img src="images/ico-fb.png"></li>
					<li><a href="https://twitter.com/Foro_TV" target="new"><img src="images/ico-tw.png"></li>
				</ul>	
			</div>
		</footer>
    </article>
    <script type='text/javascript' src='js/plugins.js'></script>
</body>
</html>